body, div, ul, li, input {
	margin: 0;
	padding: 0;
	font-family: "News Cycle", sans-serif;
}

ul, li {
	list-style: none;
}

body {
	background: #fff;
	background: -webkit-linear-gradient(top, #ebeff0 0%, #fff 100%);
	background: -moz-linear-gradient(top, #ebeff0 0%, #fff 100%);
	background: -ms-linear-gradient(top, #ebeff0 0%, #fff 100%);
	background: linear-gradient(top, #ebeff0 0%, #fff 100%);
	background-repeat: no-repeat;
}

input {
	display: none;
}

#wrapper {
	width: 80%;
	height: 18em;
	margin: auto;
	position: relative;
}

ul {
	height: 12rem;
	background: #0094bd;
	background: -webkit-linear-gradient(top,
		#cc1625 0%,
		#cc1625 33%,
		#f9cb36 33%,
		#f9cb36 66%,
		#7dc042 66%,
		#7dc042 100%
	);
	background: -moz-linear-gradient(top,
		#cc1625 0%,
		#cc1625 33%,
		#f9cb36 33%,
		#f9cb36 66%,
		#7dc042 66%,
		#7dc042 100%
	);
	background: -ms-linear-gradient(top,
		#cc1625 0%,
		#cc1625 33%,
		#f9cb36 33%,
		#f9cb36 66%,
		#7dc042 66%,
		#7dc042 100%
	);
	background: linear-gradient(top,
		#cc1625 0%,
		#cc1625 33%,
		#f9cb36 33%,
		#f9cb36 66%,
		#7dc042 66%,
		#7dc042 100%
	);
	border-radius: .5rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 5%;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}

li {
	position: relative;
	width: 25%;
	display: block;
	float: left;
	text-align: center;
	bottom: 4rem;
	text-transform: uppercase;
	z-index: 1;
}

li label {
	display: inline-block;
	font-size: .8rem;
	font-weight: bold;
	color: hsl(0, 0%, 57%);
	padding: .4rem .6rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 1rem;
	background: hsl(0, 100%, 100%);
	width: 12rem;
	max-width: 100%;
	vertical-align: bottom;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	transition: 300ms;
}

li label:after {
	color: white;
	border: 1rem solid hsla(0, 0%, 0%, 0);
	border-top-color: hsl(0, 100%, 100%);
	border-left-width: .6rem;
	border-right-width: .6rem;
	position: absolute;
	top: 100%;
	content: "";
	left: 50%;
	margin-left: -.6rem;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	transition: 300ms;
}

li label:before {
	position: absolute;
	left: 50%;
	margin-left: -1rem;
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	border: solid .5rem hsl(0, 100%, 100%);
	border-radius: 50%;
	background: hsl(0, 0%, 57%);
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	transition: 300ms;
}

.marker-red label:before {
	top: 5rem;
}
.marker-yellow label:before {
	top: 9rem;
}
.marker-green label:before {
	top: 13rem;
}

li:before {
	content: "";
	background: hsla(0, 100%, 100%, 0.7);
	display: block;
	position: absolute;
	width: .12rem;
	-webkit-background-clip: content-box;
	   -moz-background-clip: content-box;
	        background-clip: content-box;
	padding: 2rem 1rem 0;
	left: 50%;
	margin-left: -1.06rem;
	top: 2rem;
	z-index: -1;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	transition: 300ms;
}

.marker-red:before {
	height: 2rem;
}
.marker-yellow:before {
	height: 6rem;
}
.marker-green:before {
	height: 10rem;
}

label:hover {
	cursor: pointer;
}

label:hover:before {
	-webkit-box-shadow: 0 0 1rem white, inset 0 0 .5rem white;
	-moz-box-shadow: 0 0 1rem white, inset 0 0 .5rem white;
	box-shadow: 0 0 1rem white, inset 0 0 .5rem white;
}

.marker-red:hover label, .marker-red input:checked + label {
	background: #cc1625;
	color: white;
}
.marker-red:hover label:after, .marker-red input:checked + label:after {
	border-top-color: #cc1625;
}
.marker-red input:checked + label:before {
	background: #cc1625;
}

.marker-yellow:hover label, .marker-yellow input:checked + label {
	background: #f9cb36;
	color: white; 
}
.marker-yellow:hover label:after, .marker-yellow input:checked + label:after {
	border-top-color: #f9cb36;
}
.marker-yellow input:checked + label:before {
	background: #f9cb36;
}

.marker-green:hover label, .marker-green input:checked + label {
	background: #7dc042;
	color: white; 
}
.marker-green:hover label:after, .marker-green input:checked + label:after {
	border-top-color: #7dc042;
}
.marker-green input:checked + label:before {
	background: #7dc042;
}

p {
	width: 50%;
	margin: 2rem auto;
	color: gray;
	line-height: 1.3rem;
}