body, input, div {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

label,
input:checked + label:hover,
input:checked + label:active {
	margin: 2em;
	padding: 1em 1.5em;
	border-radius: .5em;
	display: inline-block;
	background: hsl(200,50%,60%);
	color: white;
	text-shadow: 0 -.1em rgba(0,0,0,.3);
	box-shadow: 0 .4em  hsl(200,50%,40%);
	cursor: pointer;
	-webkit-transition: 300ms;
	   -moz-transition: 300ms;
	        transition: 300ms;
}

label:hover {
	text-shadow: 0 0 .4em white;
}

label:active {
	margin-top: 2.4em;
	box-shadow: none;
}

input {
	display: none;
}

input:checked ~ .modal {
	display: block;
}

input:checked + label:before {
	content: "";
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	z-index: 200;
}

.modal {
	display: none;
	width: 30%;
	height: 50%;
	padding: 1em 2em;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 300;
}